* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira Sans", sans-serif;
}

.App {
	display: flex;
	flex-direction: column;
	padding-top: 128px;
	align-items: center;
}

h1 {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.drums {
	display: flex;
	align-items: center;
	justify-content: center;
}

.drum {
	background-color: crimson;
	border-radius: 1rem;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1rem;
	margin-right: 1rem;
	cursor: pointer;
	transition: 0.3s;
}

.drum:hover {
	opacity: 0.7;
}

.drum:active,
.drum.playing {
	transform: scale(1.1);
}

.drum .key {
	color: #fff;
	font-size: 3rem;
}
